/**
* Base
*/
.Entity {
}

.card {
    background: #F8F8F8;
    border: 0.5px solid #a9a9a9;
    border-radius: 1px;
    margin: 5px;
    max-width: 260px;
    padding: 8px 0;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .card {
        max-width: 97%;
    }
}

.Entity .fa-pen {
    background: #F8F8F8;
    border: 0.5px solid #ccc;
    border-radius: 50%;
    color: #ddd;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 2px;
    width: 30px;
}

.Entity .fa-pen:hover {
    border: 0.5px solid #3071a9;
    color: #3071a9;
}

.card-text {
    font-size: 10px;
}

.card img {
    height: 100px;
    width: 160px;
}
.btn-default i {
    color: red;
}