/**
* Base
*/
.Entities > div {
    min-height: 50px;
}

.entities__search-bar {
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .entities__search-bar {
        width: 90%;
    }
}

.entities__actions {
    float: right;
    height: 35px;
    padding: 0;
}

.entities__actions .l {
    float: left;
}

.entities__actions i {
    cursor: pointer;
    font-size: 13px;
}

.entities__actions .clear i,
.entities__actions .clear span {
    color: #777;
}

.entities__actions .primary i,
.entities__actions .primary span {
    color: #4984C5;
}

.entities__actions div i { }

.entities__actions > div:hover {
    opacity: .7;
}

.search-bar-container {
    float: left;
    padding: 0;
    position: relative;
    width: 100%;
}

.entities__actions > div {
    float: right;
    min-height: 35px;
    position: relative;
    width: 35px;
}

.entities__search-bar i,
.entities__search-bar button {
    bottom: 0;
    color: #a9a9a9;
    height: 30px;
    line-height: 30px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;
}

.entities__search-bar i.fa-search {
    right: auto;
}

.entities__actions .entities__actions-bill {
    bottom: 3px;
    color: #4984C5;
    cursor: pointer;
    font-size: 8px;
    position: absolute;
    right: 0;
    width: 35px;
    text-align: center;
}

.entities__search-bar button {
    height: 29px;
    line-height: 29px;
    left: auto;
    padding: 0 10px;
    width: 40px;
}

.entities__search-bar button i {
    color: #4984C5;
    height: 29px;
    line-height: 29px;
}

.entities__search-bar input {
    border: 0.5px solid #a9a9a9;
    border-radius: 1px;
    height: 35px;
    line-height: 35px;
    padding: 0 45px 0 30px;
    width: 100%;
}

.entities__actions div.r span,
.entities__actions div.l span {
    font-size: 9px;
}

.modal-header {
    background: #f8f8f8;
}

.modal-content {
    border-radius: 0;
}