/**
* Base
*/
.Entities { }

.entities__search-bar {
    padding: 0;
    position: relative;
}

.entities__actions {
    float: right;
    height: 35px;
    padding: 0;
    position: relative;
    text-align: right;
}

.entities__actions.l {
    float: left;
}

.entities__actions i {
    color: #008AC4;
    cursor: pointer;
    font-size: 20px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    width: 50px;
}

.entities__actions .clear i,
.entities__actions .clear span {
    color: #C6000C;
}

.entities__actions > div:hover {
    opacity: .7;
}

.entities__actions > div {
    float: right;
    min-height: 35px;
    position: relative;
    width: 50px;
}
.entities__actions.l > div{
    float: left;
}
.entities__actions .entities__actions-bill {
    bottom: 0;
    color: #008AC4;
    cursor: pointer;
    font-size: 8px;
    position: absolute;
    right: 0;
    width: 50px;
    text-align: center;
}
.entities__actions.l .entities__actions-bill{
    font-size:10px;
}

.entities__search-bar i,
.entities__search-bar button {
    bottom: 0;
    color: #e0e0e0;
    height: 30px;
    line-height: 30px;
    left: 5px;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
}
.entities__search-bar button {
    height: 29px;
    line-height: 29px;
    left: auto;
    padding: 0 10px;
    right: 5px;
    width: 40px;
}

.entities__search-bar button i {
    color: #008AC4;
    height: 29px;
    line-height: 29px;
}

.entities__search-bar input {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    height: 35px;
    line-height: 35px;
    padding: 0 45px 0 30px;
    width: 100%;
}

#trolley .modal-header {
    height: 50px;
}

#trolley .modal-header .modal-title {
    float: left;
    width: 90%;
}

#trolley .modal-header .close {
    float: left;
    margin-top: 0;
    width: 9%;
}

#trolley .modal-body .btn-default.blue i {
    color: #008AC4;
}