/**
* Base
*/
.Footer {
    bottom: 0;
    height: 50px;
    line-height: 50px;
    position: fixed;
    text-align: center;
    width: 100%;
}

.Footer .r {
    border-left: 0.5px solid #a9a9a9;
    text-align: left;
}

.Footer .l {
    border-right: 0.5px solid #a9a9a9;
    text-align: right;
}

.Footer h5 {
    margin: 0;
}