/**
* Base
*/
.Bill .info i {
    color: #424242;
}

.Bill .info button i {
    color: #fff;
}

.Bill .info button {
    margin-left: 5px;
}

.Bill .detail th {
    font-weight: bold;
    text-transform: uppercase;
}

.Bill .detail .total-label {
    text-transform: uppercase;
}

.Bill .detail .total-value {
    background-color: #ddd;
}

.Bill .info tr .client-data {
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 12px;
    padding: 0 3px;
    width: 90%;
}

.Bill .info tr .client-data:focus {
    border-bottom: 1px solid #299999;
}

.Bill .info tr .client-data.bill-number {
    width: 50%;
}

.Bill .info tr .client-data.full {
    width: 100%;
}