/**
* Base
*/
.NavBar { }

/**
* Menu
*/
.navbar-brand {
  padding: 0;
  width: 80px;
}

.navbar-brand img {
    height: 50px;
    width: 50px;
}

.nav .fa-angle-down {
    text-align: center;
    width: 30px;
}
/**
* theming
**
.navbar-inverse {
    background-color: #424242;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
/**
* Dropdown
*/
.back-link {
    float: right;
}

#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
}
#login-dp .help-block{
  font-size:12px
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  clear:both;
  padding:14px;
}
#login-dp .social-buttons{
  margin:12px 0
}
#login-dp .social-buttons a{
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb{
    background-color:#3b5998;
    color: #fff;
}
.btn-fb:hover{
    background-color:#496ebc;
    color: #fff;  
}
.btn-tw{
    background-color:#55acee;
    color: #fff;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}
@media(max-width:768px){
  #login-dp{
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom{
    background-color: inherit;
    border-top:0 none;
  }
}
/**
* profile
**/

