/**
* Base
*/
.NavBar { }

.NavBar .fa-question-circle {
    font-size: 50px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    color: #bbb;
}
/**
* Menu
*/
.navbar-brand {
  padding: 0;
  width: 80px;
}

.navbar-brand img {
    height: 50px;
    width: 50px;
}

.nav .fa-angle-down {
    text-align: center;
    width: 30px;
}
/**
* theming
**/
.navbar-inverse {
    background-color: #424242;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
/**
* Dropdown
*/
.back-link {
    float: right;
}

#login-dp{
  min-width: 350px;
  padding: 14px 14px 0;
  overflow:hidden;
}
#login-dp .help-block{
  font-size:12px
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  clear:both;
  padding:14px;
}
#login-dp .social-buttons{
  margin:12px 0
}
#login-dp .social-buttons a{
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-gg{
    background-color:#DC4B3E;
    color: #fff;
}
.btn-gg:hover{
    background-color:#F84F40;
    color: #fff;  
}
.btn-tw{
    background-color:#55acee;
    color: #fff;
}
.btn-tw .fa-twitter {
    color: #fff;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}
@media(max-width:768px){
  #login-dp{
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom{
    background-color: inherit;
    border-top:0 none;
  }
}
/**
* profile
**/
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}

.profile {
    padding: 10px;
}

.user-profile-data .form-group {
    padding: 0 10px 0 0;
    position: relative;
}

.user-profile-data .form-group .form-control {
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 12px;
    padding: 0 10px 0 30px;
}

.user-profile-data .form-group .form-control.user-name {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    padding: 0 5px;
}

.user-profile-data .form-group .form-control.user-description {
    font-size: 10px;
    min-height: 80px;
    padding: 10px 5px 5px 30px;
}

.user-profile-data .form-group .form-control:focus {
    border: 0.5px solid #ccc;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.user-profile-data i {
    height: 34px;
    left: 0;
    line-height: 34px;
    position: absolute;
    text-align:center;
    width: 30px;
}

.img-rounded {
    border: 1px solid #ddd;
    border-radius: 50%;
}